body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green-main: #6ca06c;
  --common-shadow: 0 0 5px 1px #5f5f5fcc;
  --base-red: #ff7171;
  --discard-red: #ff0a0a8a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}

button {
  background: none;
  border: none;
}

button:active {
  opacity: 0.8;
}

.leaflet-control-container {
  visibility: hidden;
}

.leaflet-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
